.headerMobile {
  font-family: "Inter", sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 1;
}

.headerDesktop {
  font-family: "Inter", sans-serif;
  font-size: 89px;
  font-weight: 700;
  line-height: 1;
}

.subheaderMobile {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 1;
}

.subheaderDesktop {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
}

.body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}
